<div class="navbar  navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull=left">
            <p> © wizard wars 2017.</p>
        </div>

    </div>
</div>