<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <link src="css/css.css" rel="stylesheet">
    <link src="js/libraries/bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="js/libraries/jquery/jquery-3.2.0.min.js"></script>
    <script src="js/libraries/bootstrap/js/bootstrap.js"></script>

    <body>
    <h1></h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
