<!DOCTYPE html>
<html>
    <meta name="csrf-token" id="csrf-token" value="{{ csrf_token('authenticate') }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wizard wars!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <base href="http://localhost/wizard-wars/project/Wizard-Wars/web/">
    </head>

    <link href="js/libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">

    <script src="js/libraries/jquery/jquery-3.2.0.min.js"></script>
    <script src="js/libraries/phaser/phaser.js"></script>
    <script src="js/libraries/bootstrap/js/bootstrap.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/helpers.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
