
.col-centered{
    float: none;
    margin: 0 auto;
}

#login_wrapper{
    background: url("images/login_page.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width:100%;
    height:100%;
    position: absolute;
}

#login_wrapper>div>div{

    top: 501px;
}
#login_wrapper label{
    color: white;
}

@font-face {
    font-family: magicFont;
    src: url(assets/font/magic_font.ttf);
}

html {
    cursor: url("assets/world/cursor.png"), auto;
}

body{
    font-family: magicFont !important;
}

