{% extends 'base.html.twig' %}



{% block body %}

    <h1 id="choose_title">CHOOSE YOUR WIZARD</h1>

    <div id="wizard_info">

        <br>
        <p>Type: <span id="type"></span></p>
        <p>Health: <span id="health"></span></p>
        <p>Attack: <span id="attack"></span></p>
        <p>Castle Health Bonus: <span id="castleHealth"></span></p>
        <p>Castle Attack Bonus: <span id="castleAttack"></span></p>

    </div>
    <div id="red_wizard_wrapper" class="wizard_race" type="red">
        <img src="assets/races/red_wizard.gif">
    </div>

    <div id="blue_wizard_wrapper" class="wizard_race" type="blue">
        <img src="assets/races/blue_wizard.gif">
    </div>


{% endblock %}

{% block stylesheets %}
    <style>
        @font-face {
            font-family: magicFont;
            src: url(assets/font/magic_font.ttf);
        }
        body {
            background-color: #000000;
            background-image: url('assets/world/race_choose.gif');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 100% auto;
            position: absolute;
            width: 100%;
            height: 100%;
            font-family: magicFont;
            min-width: 1195px;
        }

        #red_wizard_wrapper {
            right: 20%;
            bottom: 20%;
            float: right;
            position: absolute;
            animation: mymove 4s infinite;
        }

        #red_wizard_wrapper:hover {
            box-shadow: 0px 0px 45px 15px #599bcc;
        }

        #blue_wizard_wrapper {
            left: 20%;
            bottom: 20%;
            float: left;
            position: absolute;
            animation: mymove 3s infinite;

        }

        #blue_wizard_wrapper:hover {
            box-shadow: 0px 0px 45px 15px #cc6600;
        }

        #red_wizard_wrapper, #blue_wizard_wrapper {
            width: 300px;
            display: inline-block;
            /*border: 1px solid white;*/
        }

        #red_wizard_wrapper > img {
            width: 100%;
        }

        #blue_wizard_wrapper > img {
            width: 100%;
        }

        #choose_title {
            color: white;
            text-align: center;

            font-size: 60px
        }

        @keyframes mymove {
            0% {
                bottom: 10%;
            }
            /*25% {bottom: 12%}*/
            50% {
                bottom: 15%
            }
            /*75% {bottom: 12%}*/
            100% {
                bottom: 10%
            }
        }

        #wizard_info {
            background-image: url("assets/paper.png");
            background-size: 100% 100%;
            width: 400px;
            height: 500px;
            display: block;
            position: relative;
            top: 0px;
            margin: 0px auto;
            padding-top: 60px;
        }

        #wizard_info > p {
            font-size: 30px;
            margin-left: 50px;
        }
    </style>

{% endblock %}

{% block javascripts %}


    <script>

        let red_wizard_info = {
            type: "RED WIZARD",
            health: 800,
            attack: 130,
            castleHealth: 700,
            castleAttack: 180,
        };

        let blue_wizard_info = {
            type: "BLUE WIZARD",
            health: 1000,
            attack: 100,
            castleHealth: 1000,
            castleAttack: 100,
        };

        let arr = [1, 2, 3];

        $('#red_wizard_wrapper').on('mouseover', function () {
            Object.keys(red_wizard_info).forEach(function (key) {
                $(`#${key}`).text(red_wizard_info[key]);
            })
        });

        $('#blue_wizard_wrapper').on('mouseover', function () {
            Object.keys(blue_wizard_info).forEach(function (key) {
                $(`#${key}`).text(blue_wizard_info[key]);
            })
        });

        $('#blue_wizard_wrapper, #red_wizard_wrapper').on('mouseout',function () {
            $("#wizard_info span").text("");
        })

        $('.wizard_race').on('click',function(){

            let type = $(this).attr('type');

            if(type == 'blue'){

                $('#red_wizard_wrapper').fadeOut();
                $('#wizard_info').fadeOut();
                $(this).animate({
                    'left': '+=20%'
                });

                $(this).css({
                    'box-shadow': '0px 0px 45px 15px #cc6600'
                });


                setTimeout(function () {

                    let token = $("csrf-token").attr('value')+ 123;

                    ww.helpers.request('{{ path("choosing_race") }}',"POST",{"_csrf_token": token},{"type":"BlueWizard"},function (data) {
                        if(data.success == 'choosed'){
                            window.location.href = "{{ path("homepage") }}"
                        }
                    },function () {
                        console.log(data)
                    })
                },1000)

            }else{
                $('#blue_wizard_wrapper').fadeOut();
                $('#wizard_info').fadeOut();
                $(this).animate({
                    'right': '+=20%'
                });

                $(this).css({
                    'box-shadow': '0px 0px 45px 15px #599bcc'
                });

                setTimeout(function () {

                    let token = $("csrf-token").attr('value')+ 123;

                    ww.helpers.request('{{ path("choosing_race") }}',"POST",{"_csrf_token": token},{"type":"RedWizard"},function (data) {
                        if(data.success == 'choosed'){
                            window.location.href = "{{ path("homepage") }}"
                        }
                    },function () {
                        console.log(data)
                    })
                },1000)
            }
            $('.wizard_race').off();
        });


    </script>

{% endblock %}